html,body {
    font-family: 'Courier new', sans-serif;
    height: 100%;
}

/* index styling */

#welcomeMsg {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Button styling */

button {
    background-color: purple;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Courier new', sans-serif;
}

/* Questions styling */

#quizActual {
    display:none;
}

/* Scoreboard styling */

#highScoreSection {
    display: none;
    height: 100%;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#highScorePage {
    display: none;
    width: 50%;
    border: solid;
    padding-bottom: .3rem;
}

#highScoreHeading {
    display: flex;
    justify-content: space-around;
}

#endgame {
    display: none;
}

li{
    padding-bottom: 3px;
    list-style-type: none;
}

#highScoreInitials{
    display: inline-block;
    padding-left: 10rem;
    font-family: sans-serif;
}

#highScore{
    float: right;
    padding-right: 10rem;
    font-family: sans-serif;
}

/* Adapting to multiple screen sizes */

@media only screen and (min-width: 768px) {

    #welcomeMsg {
        min-width: 100%;
    }

}