/* Styling for entire page */

html,body {
    font-family: 'Courier new', sans-serif;
    height: 100%;
}

/* index styling */

#welcomeMsg {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Button styling */

button {
    background-color: purple;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'verdana', sans-serif;
    font-size: 13px;
}

/* Styling for main content */

#content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Questions styling */

#quizActual {
    display:none;
}

/* Scoreboard styling */

#highScoreSection {
    display: none;
    height: 100%;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#highScorePage {
    display: none;
    width: 30%;
    border: solid;
    padding-bottom: .3rem;
}

#highScoreHeading {
    display: flex;
    justify-content: space-around;
}

#endgame {
    display: none;
}

li{
    padding-bottom: 3px;
    list-style-type: none;
}

#highScoreInitials {
    display: inline-block;
    padding-left: 3rem;
    font-family: sans-serif;
}

#highScore {
    float: right;
    padding-right: 8rem;
    font-family: sans-serif;
}

/* Footer styling */

.footer {
    text-align: center;
}

/* Adapting to multiple screen sizes */

@media only screen and (min-width: 768px) {

    #welcomeMsg {
        min-width: 100%;
    }

}